# matrix_modules.cfg
# Defines the targets for Expansion Buttons 107-112
# Supports: native classes (modular.Game) or external archives (Game.jar)

BTN_107=modular.Update
BTN_108=[NATIVE_DIR]
BTN_109=modular.LLMs
BTN_110=modular.Terminal
BTN_111=modular.Game
BTN_112=modular.App
